{% extends 'base.html' %}

{% load socialaccount %}
{% providers_media_js %}
{% block content %}

    <div class="container" style="color: white; display:flex; justify-content: center">
        <div style="width:30vw; margin-top:15vh;">
            <h1>Social Login</h1>

            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">로그아웃</a>
                {{ user.username }} 님이 로그인 중

            {% else %}
                <div style="margin-bottom: 20px;">
                    {% include 'login/general_login.html' %}
                </div>
                <div>
                <div style="display:flex; flex-direction: row">
                    <div>
                        <a href="{% provider_login_url 'google' %}" class="btn btn-outline-light" role="button"
                           aria-pressed="true"
                           style="width:200px;font-size: 1.5em; font-weight:bold; border-width:3px; padding: 15px 30px; margin-right:20px;">GOOGLE</a>
                    </div>
                    <div>
                        <a href="{% provider_login_url 'kakao' %}" class="btn btn-outline-light" role="button"
                           aria-pressed="true"
                           style="width:200px;font-size: 1.5em; font-weight:bold; border-width:3px; padding: 15px 30px; margin-right:20px;">KAKAO</a>
                    </div>
                </div>
                <div style="margin-top: 10px;">
                    <a href="{% url 'sign_up' %}" class="btn btn-outline-light" role="button"
                       aria-pressed="true"
                       style=" width:420px;font-size: 1.5em; font-weight:bold; border-width:3px; padding: 15px 30px;">회원가입</a>
                </div>


            {% endif %}
            </div>
        </div>
{% endblock %}