* {
    color: white;
}
body {
    position : relative;
    min-height: 100vh;
    background-color: black;
}


nav {
    padding : 0px 100px !important;
}

.navbar-logo {
    width : 60px;
    height : 60px;
    padding : 2px;
    border-radius: 100%;

}

.navbar-brand {
    color: lightpink;
}


.collapse {
    justify-content: flex-end;
}

.nav-link {
    color : #ffffff !important;
    font-size : 15px;
    font-weight : bold;
}

.nav-link:hover {
    color : yellow !important;
}



#hello:hover{
    box-shadow: -0em 0 1em olive;
    border-radius: 15px;
    transform:scale(1.3);
    transition-duration: 0.4s;
}


footer {

    clear: both;
    background-color: #333333;
    color : white;
    font-size : 14px;
    /*position : absolute;*/
    bottom : 0;
    height: 100px;
    margin-top : 50px;
}

.footer-buffer {
    padding-bottom : 10px;
}

