{% extends 'base.html' %}

{% block content %}
    <div style="margin:10% auto ; text-align: center">
        <h2 style="color:white; margin:0px 0px 50px 0px;">나를 가장 잘 아는 피로그래머는 누구일까요?</h2>
        <div>
            {% if user.is_authenticated %}
                <a href="{% url "quiz:index" %}" class="btn btn-outline-danger" role="button" aria-pressed="true"
                   style="font-size: 20px; padding: 15px 60px;">퀴즈 내러가기</a>
                <br/>
                <div class="bg-black"> .</div>

                <a href="{% url "quiz:list" %}" class="btn btn-outline-danger" role="button" aria-pressed="true"
                   style="font-size: 20px; padding: 15px 60px;">퀴즈 맞추러가기</a>
            {% else %}
                <a href="{% url 'social_login' %}" class="btn btn-outline-danger" role="button" aria-pressed="true"
                   style="font-size: 20px; padding: 15px 60px;">퀴즈 맞추러가기</a>
            {% endif %}
        </div>

    </div>
{% endblock %}